/* Les variables */
:root {
  --font-weight-light: 150;
  --font-weight-medium: 300;
  --font-weight-bold: 550;
  --font-weight-extra-bold: 750;
  --font-weight-black: 800;


  --color-primary: #0065FC;
  --color-white-blue: #DEEBFF;
  --color-white: #ffffff;
  --color-gray: #F2F2F2;
  --color-black: #0a0a0a;

  --font-main: "Raleway", sans-serif;


  --text-size-medium: 1.5em;
  --text-size-medium-large: 2em;
  --text-size-large: 4em;
  --text-size-extra-large: 8em;

  --border-radius-normal: 0.5em;
  --border-radius-big: 0.75em;
  --border-radius-extra-big: 1em;
  --border-radius-absolu: 6em;

  --margin-small: 0.25em;
  --margin-medium: 1em;

  --padding-buttons-small: 0.5em 0.65em;
  --padding-buttons-medium: 0.65em 1em;

  --padding-medium: 0.6em;
  --padding-large: 1em;

  --gap-medium: 0.6em;
  --gap-large: 1em;

}


/* Toutes les règles primaires */
html {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
}


/* Gestion des marges et des paddings principaux */
main, footer, header {
  padding: 2rem 2rem;
}

section {
    margin: 2rem 0;
}



/* Textes (H1, H2, ...) */
h1, h2 {
  font-size: 1.5rem;
}

h1, h2, h3,
footer li:first-child, button, input[type="search"], input[type="submit"] {
  font-weight: 600;
}

h3, button {
  font-size: 1.1rem;
}



/* Les display */
.disp, footer, header,
aside a, span {
    display: flex;
}

/* Li Footer et Header */
footer li {
    padding: var(--padding-medium);
}

header li {
    padding: var(--padding-large);
}



/* Articles */
article {
    border-radius: var(--border-radius-big);
    box-shadow: 0 0 16px #0000002e;
    background-color: var(--color-white);
}


.grid__hebergement article,
aside article {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    border: var(--color-white)  0.2rem solid;
}

/* Les grids */

.grid__hebergement {
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(1, 1fr) auto;
    column-gap: 2rem;
    padding: 1.7rem;
    background-attachment: fixed;
}


  /* Aside Images */
  article img {
    height: 7rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

/* la gestions des articles */
article a {
    display: flex;
    flex-direction: column;
    height: 100%;
}


/* Colors */
.color__gray, 
footer,
aside{
    background-color: var(--color-gray);
}


.fa-star[data-active="true"] {
    color: var(--color-primary);
}

.fa-star[data-active="false"] {
    color: var(--color-gray);
}








img {
    width: 100px;
}