/* Les variables */
:root {
  --font-weight-light: 150;
  --font-weight-medium: 300;
  --font-weight-bold: 550;
  --font-weight-extra-bold: 750;
  --font-weight-black: 800;


  --color-primary: #0065FC;
  --color-white-blue: #DEEBFF;
  --color-white: #ffffff;
  --color-gray: #F2F2F2;
  --color-black: #0a0a0a;

  --font-main: "Raleway", sans-serif;


  --text-size-medium: 1.5em;
  --text-size-medium-large: 2em;
  --text-size-large: 4em;
  --text-size-extra-large: 8em;

  --border-radius-normal: 0.5em;
  --border-radius-big: 0.75em;
  --border-radius-extra-big: 1em;
  --border-radius-absolu: 6em;

  --margin-small: 0.25em;
  --margin-medium: 1em;

  --padding-buttons-small: 0.5em 0.65em;
  --padding-buttons-medium: 0.65em 1em;

  --padding-medium: 0.6em;
  --padding-large: 1em;

  --gap-medium: 0.6em;
  --gap-large: 1em;

}


/* Toutes les règles primaires */
html {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  text-decoration: none;
  list-style: none;
  border: none;
}


/* Gestion des marges et des paddings principaux */
main, footer, header {
  padding: 2rem 2rem;
}

section {
    margin: 2rem 0;
}



/* Textes (H1, H2, ...) */
h1, h2 {
  font-size: 1.5rem;
}

h1, h2, h3,
footer li:first-child, button, input[type="search"], input[type="submit"] {
  font-weight: 600;
}

h3, button {
  font-size: 1.1rem;
}



/* Display et Grid */
.disp, footer, header {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}



/* Grid Activités */
.grid__activite {
    display: grid;
    grid-template-areas: 
    "a  b d e"
    "a  b d f"
    "a  c d f";
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(4, minmax(400px, auto));
  }
  
.img1 { grid-area: a; 
}
.img2 { grid-area: b; 
}
.img3 { grid-area: c; 
}
.img4 { grid-area: d; 
}
.img5 { grid-area: e; 
}
.img6 { grid-area: f;
}



/* Grid Hébergement */
.grid__hebergement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 11rem 2rem 2rem 11rem;
  }



  /* Aside Images */
article img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

aside img {
    border-radius: 1rem 0 0 1rem;
}



/* Articles activités Images */
.grid__activite article {
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    border: 1 px solid black;
    background-color: red;
}



/* Articles hébergement Images */
.grid__hebergement article {
    overflow: hidden;
    box-shadow: #0a0a0a 0 0 0.5rem;
    border-radius: 1rem 1rem 0 0;
}




/* Footer */
footer {
    justify-content: flex-start;
    gap: 12rem;
    align-items: flex-start;
}

footer li
{
    padding: 0.4rem;
}

.color__gray, 
footer,
aside {
    background-color: var(--color-gray);
}


header {
    justify-content: space-between;
    align-items: center;
}

header li {
    padding: var(--padding-large);
}