/* Les variables */
:root {
    --font-weight-bold: 600;
    --font-weight-extra-bold: 750;

    --color-primary: #0065FC;
    --color-white-blue: #DEEBFF;
    --color-white: #ffffff;
    --color-gray: #F0F0F0;
    --color-gray-black: #D9D9D9;

    --font-main: "Raleway", sans-serif;
    --text-size-medium: 1rem;
    --text-size-large: 1.5rem;
    --text-size-extra-large: 2rem;

    --border-radius-normal: 0.5rem;
    --border-radius-big: 1rem;
    --border-radius-extra-big: 1rem;
    --border-radius-absolu: 5rem;

    --margin-medium: 1rem;
    --margin-left-right: 0rem 2rem;
    --margin-extra: 1rem;

    --padding-small: 0.4rem;
    --padding-medium: 0.8rem;
    --padding-large: 1rem;
    --padding-extra-large: 2rem;
    --padding-left-right: 0rem 2rem;
    --padding-top-bottom: 2rem 0rem;

    --gap-medium: 0.6rem;
    --gap-large: 1rem;
    --gap-extra-large: 2rem;
}


/* Toutes les règles primaires */
html {
    background-color: var(--color-white);
    color: var(--color-black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: var(--font-main);
}


/* Gestion des marges et des paddings principaux */
body > * {
    padding: var(--padding-left-right);
}

main {
    padding: var(--padding-extra-large);
}

footer {
    padding: var(--padding-extra-large);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/* Textes (H1, H2, ...) */
h1 {
    font-size: var(--text-size-extra-large);
}

h2 {
    font-size: var(--text-size-large);
}

/* Font Weight */
h1, h2, h3, button, .bold,
footer li:first-child, input[type="submit"] {
    font-weight: var(--font-weight-extra-bold);
}

#title_search button > i,
#hebergements>aside>header i {
    font-size: 1.3rem;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-extra-large);
    align-items: center;
}

#header ul {
    display: flex;
    gap: var(--gap-large);
}

#header div {
    display: flex;
    gap: var(--gap-extra-large);
    align-items: center;
}

#header li{
    padding: var(--padding-extra-large);
    border-top: 0.2rem transparent solid;
}

#header li:hover {
    color: var(--color-primary);
    border-top: 0.2rem solid var(--color-primary);
}


/* Section titres */
#title_search {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}


/* Form */
#title_search form {
    display: flex;
}

#title_search form label {
    padding: var(--padding-medium);
    background-color: var(--color-white-blue);
    border-radius: 1rem 0 0 1rem;
}

#title_search form #ShearchBar {
    padding: var(--padding-medium);
    border: 1px solid var(--color-white-blue);
}

#title_search form #CTA {
    margin-left: -10px;
    padding: var(--padding-medium);
    border-radius: 0 1rem 1rem 0;
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* Buttons */
#title_search nav {
    padding: 1rem 0rem;
    display: flex;
    gap: var(--gap-large);
    align-items: center;
    flex-wrap: wrap;
}


#title_search button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--border-radius-absolu);
    background-color: var(--color-white);
    border: 2px solid var(--color-gray-black);
}

#title_search button:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all ease 0.5s;
}


/* Icons buttons */
#title_search button > i {
    background-color: var(--color-white-blue);
    color: var(--color-primary);
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -1px;
}

#title_search button > span {
    display: flex;
    padding: 0rem 0.8rem;
}


/* Span plus de 500... */
#title_search>div>i {
    border-radius: 50%;
    font-size: 0.8rem;
    color: var(--color-primary);
    border: 2px solid var(--color-gray-black);
    padding: 0.3rem 0.6rem;
    margin-right: 0.3rem;
}



/* Section hebergements */
#hebergements {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap-extra-large);
    margin: 2rem 0;
}

#hebergements aside,
#hebergements>div {
    background-color: var(--color-gray);
    border-radius: var(--border-radius-extra-big);
    padding: var(--padding-medium);
}


/* Hébergement Div */
#hebergements > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 1fr) auto;
    gap: var(--gap-extra-large);
    padding: 2rem 2rem;
}

#hebergements > div > header {
    grid-column: 1 / -1;
}

#hebergements > div > article {
    grid-column: span 1;
}

#hebergements > div > a {
    grid-column: 1 / -1;
}


/* Hébergement Div */
#hebergements > aside {
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
    gap: var(--gap-extra-large);
    padding: 2rem 2rem;
}


/* Hébergement Aside */
#hebergements>aside article a {
    display: flex;
    height: 100%;
}
#hebergements>aside article {
    height: 8rem;
}



#hebergements > aside > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-medium);
}


/* Hébergement Articles */
#hebergements article,
#activity article {
    border-radius: var(--border-radius-big);
    box-shadow: 0 0 1rem #00000031;
    background-color: var(--color-white);
    overflow: hidden;
    transition-duration: 0.1s;
}

#hebergements>div article a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#hebergements article {
    border: 5px solid var(--color-white);
}

article:hover {
    transform: scale(1.01);
}


/* Hébergement Div Articles */
#hebergements>div img {
    object-fit: cover;
    height: 9rem;
    width: 100%;
}

#hebergements>div figure {
    width: 100%;
}


/* Hébergement Aside Articles */
#hebergements>aside article a>div,
#hebergements>div article a>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-large);
    padding: var(--padding-small);
    height: 100%;
}

#hebergements>aside article a>div {
    width: 50%;
}

#hebergements>aside img,
#activity img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#hebergements>aside figure {
    width: 50%;
    height: 9rem;
}

/* Les couleurs / couleurs des étoiles */
.fa-star[data-active="true"], div > a.bold[href="#inscriptions"] {
    color: var(--color-primary);
}

.fa-star[data-active="false"] {
    color: var(--color-gray-black);
}


/* Activity */
#activity {
    display: grid;
    grid-template-rows: auto repeat(3, minmax(4rem, 1fr));

    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "title title title title" 
        "p1 p2 p4 p5"             
        "p1 p2 p4 p6"            
        "p1 p3 p4 p6";
    gap: var(--gap-extra-large);
}

#activity header { 
    grid-area: title; 
}
#act_p1 { 
    grid-area: p1; 
}
#act_p2 { 
    grid-area: p2; 
}
#act_p3 { 
    grid-area: p3; 
}
#act_p4 { 
    grid-area: p4; 
}
#act_p5 { 
    grid-area: p5; 
}
#act_p6 { 
    grid-area: p6; 
}

#activity article a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#activity figure {
    height: 100%;
    width: 100%;
}

/* Activity h3 */
#activity h3 {
    margin: var(--margin-medium);
}

/* Footer */
footer {
    background-color: var(--color-gray);
}

footer div {
    display: flex;
    gap: 7rem;
}

footer div ul {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}




@media (max-width: 576px) {
    #activity {
        display: flex;
        flex-direction: column;
    }

    #activity figure {
        height: 10rem;
    }

    #header {
        align-items: center;
    }

    #header div {
        display: flex;
        flex-wrap: wrap;
    }

    #header div > nav{
        order: 1;
    }
}



@media (max-width: 768px) {
    #hebergements > div {
        display: grid;
        grid-template-columns: 1fr;
    }


    #activity {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto repeat(6, minmax(4rem, 10rem));
        grid-template-areas: 
            "title" 
            "p1"          
            "p2"         
            "p3"
            "p4"            
            "p5"          
            "p6";
    }
    footer div {
        flex-direction: column;
        gap: 3rem;
    }
}



@media (max-width: 992px) {
    #hebergements {
        display: grid;
        grid-template-columns: 1fr;
    }

    #hebergements >div {
        order: 1;
    }

    #hebergements>aside article {
        height: 10rem;
    }

    #activity {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(3, minmax(4rem, 10rem));
        grid-template-areas: 
            "title title" 
            "p1 p2"            
            "p3 p4"          
            "p5 p6";
    }
}